body {
  font-family: 'Special Elite', cursive;
  -webkit-font-smoothing: antialiased;
  margin: 0px; }

main {
  max-width: 100%; }
  main h1 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 2rem;
    font-weight: 300;
    z-index: 1;
    text-align: left;
    margin: 0px;
    padding: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.5); }
  main .toggle-overlay {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0px;
    border: none;
    background: transparent; }
    main .toggle-overlay img {
      height: 40px;
      width: 40px;
      padding: 5px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      color: white;
      border-radius: 8px;
      transition: all .5s ease; }
      main .toggle-overlay img:hover {
        border: 1px solid white; }
  main h2 {
    margin: 0 0 50px;
    font-size: 1.5em;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.6); }
  main #map {
    overflow: visible;
    width: 100%;
    height: 100vh; }

aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 63px;
  left: -100%;
  background: -moz-linear-gradient(45deg, #997c09 0%, rgba(242, 208, 17, 0.7) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(153, 124, 9, 0.7)), color-stop(100%, #f2d011));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, #997c09 0%, rgba(242, 208, 17, 0.7) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, #997c09 0%, rgba(242, 208, 17, 0.7) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #997c08 0%, rgba(242, 208, 17, 0.7) 100%);
  /* ie10+ */
  background: linear-gradient(45deg, #997c09 0%, rgba(242, 208, 17, 0.7) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2D011', endColorstr='#997C09',GradientType=1 );
  /* ie6-9 */
  transition: all .5s ease;
  z-index: 2; }

@media screen and (min-width: 600px) {
  aside {
    width: 45%; } }
@media screen and (min-width: 1200px) {
  aside {
    width: 30%; } }
.open {
  left: 0px; }

nav {
  height: 90vh; }
  nav ul {
    margin: 5 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    nav ul li {
      text-align: left;
      padding: 5px 20px;
      flex: 1; }
      nav ul li a {
        font-size: 1.8em;
        transition: all 0.5s ease;
        display: block;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5); }
        nav ul li a:hover {
          color: white;
          transform: scale(1.1); }

@media screen and (min-width: 600px) {
  nav ul li a {
    font-size: 1.8em; } }
.close {
  position: fixed;
  top: 40px;
  right: 60px;
  color: white;
  z-index: 3;
  cursor: pointer;
  font-family: sans-serif; }
  .close span,
  .close span:before,
  .close span:after {
    border-radius: 4px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: ''; }
  .close span {
    background: transparent; }
  .close span:before {
    transform: rotate(45deg); }
  .close span:after {
    transform: rotate(-45deg); }

.outer-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
  cursor: pointer; }

div.mapboxgl-control-container {
  display: none; }

/*# sourceMappingURL=style.css.map */
